vault:
  server:
    ha:
      enabled: false
    standalone:
      enabled: true
      config: |
        ui = true
        cluster_name = "hc-vault"
        listener "tcp" {
           tls_disable = 0
           address = "[::]:8200"
           cluster_address = "[::]:8201"
           tls_cert_file = "/vault/userconfig/vault-ha-tls/vault.crt"
           tls_key_file  = "/vault/userconfig/vault-ha-tls/vault.key"
           tls_client_ca_file = "/vault/userconfig/vault-ha-tls/vault.ca"
        }
        listener "tcp" {
          address     = "0.0.0.0:8202"
          tls_disable = 1
        }
        storage "file" {
          path = "/vault/data"
        }

    extraEnvironmentVars:
      VAULT_CACERT: /vault/userconfig/vault-ha-tls/vault.ca
      VAULT_TLSCERT: /vault/userconfig/vault-ha-tls/vault.crt
      VAULT_TLSKEY: /vault/userconfig/vault-ha-tls/vault.key
    
    dataStorage:
      enabled: true
      size: 50Gi
      storageClass: "default"
      mountPath: /mnt/vault/data
      annotations:
        volume.beta.kubernetes.io/storage-provisioner: "rook-ceph.rbd.csi.ceph.com"
      
    volumes:
      - name: userconfig-vault-ha-tls
        secret:
          defaultMode: 420
          secretName: vault-ha-tls
    volumeMounts:
      - mountPath: /vault/userconfig/vault-ha-tls
        name: userconfig-vault-ha-tls
        readOnly: true
      
    resources:
      requests:
        memory: 0.5Gi
        cpu: 500m
      limits:
        memory: 1Gi
        cpu: 1000m
        
    readinessProbe:
      enabled: true
      port: 8202
      path: "/v1/sys/health?standbyok=true&sealedcode=204&uninitcode=204"
    livenessProbe:
      enabled: true
      port: 8202
      path: "/v1/sys/health?standbyok=true"
      # initialDelaySeconds: 600
  ui:
    enabled: true # TBD: Needed?
    serviceType: "LoadBalancer"
    serviceNodePort: null
    externalPort: 8200